<!-- Laura Danniela Zarate Guerrero -->
{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Home Page - Online Store" %}{% endblock %}
{% block content %}

<h1>{% trans "Your Shopping Cart" %}</h1>

{% if cart_items %}
<form action="{% url 'cart' %}" method="post">
  {% csrf_token %}
  <div class="games-container">
    <div class="games-grid">
      {% for item in cart_items %}
      <input type="hidden" name="game_id" value="{{ item.game.id }}" />
      <div class="game-card">
        <div class="game-info">
          <h2>{{ item.game.title }}</h2>
          <p>{% blocktrans %}Quantity: {{ item.quantity }}{% endblocktrans %}</p>
          <p>$ {{ item.game.price }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="submit1">
    <button type="submit1">{% trans "Buy Now" %}</button>
  </div>
</form>
{% else %}
<h2>{% trans "Your cart is empty." %}</h2>
{% endif %}

{% endblock %}
