{% extends 'base.html' %}
{% block title %}'Home Page - Online Store'{% endblock %}
{% block content %}

<h1>Your Shopping Cart</h1>

<form action="{% url 'cart' %}" method="post">

  {% csrf_token %}

  {% for item in cart_items %}

  <input type="hidden" name="game_id" value="{{ item.game.id }}">
  {{ item.game.title }} - Quantity: {{ item.quantity }}
  <br>

  {% empty %}
  <h1>Your cart is empty.</h1>
  {% endfor %}

  <button type="submit">
    <h1>BUY</h1>
  </button>

</form>

{% endblock %}