{% extends 'base.html' %} {% block title %}Home Page - Online Store{% endblock%}
{% block content %}
    <h1>{{ game.title }}</h1>
    <p>Author: {{ game.author }}</p>
    <p>Price: ${{ game.price }}</p>
    <p>Description: {{ game.description }}</p>

    <p>Categories:</p>
    <ul>
      {% for category in categories %}
      <li>{{ category }}</li>
      {% empty %}
      <li>No categories available.</li>
      {% endfor %}
    </ul>

    <div class="game-card">
      <div class="game-info">
        <form action="{% url 'game' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="game_id" value="{{ game.id }}" />
          <input
            type="text"
            name="comment"
            placeholder="Add a comment"
            class="form-control comment-input"
          />
          <button type="submit" class="btn see-btn">Comment game</button>
        </form>
      </div>
    </div>

    <div style="display: flex; flex-wrap: wrap; align-items: center;">
      <h2>Reviews: </h2>
      {% for review in reviews %}
      <div class="game-card" style="margin-right: 10px;">
        <div class="game-info">
          <strong>{{ review.user.username }}:</strong>
          <p>{{ review.comment }}</p>
        </div>
      </div>
      {% empty %}
      <p>No reviews yet for this game.</p>
      {% endfor %}
    </div>

  {% endblock %}

