{% extends 'base.html' %}
{% block title %}'Home Page - Online Store'{% endblock %}
{% block content %}

<h1>List of Games</h1>
<ul>
  {% for game in games %}
  <li>{{ game.title }} by {{ game.author }} - ${{ game.price }}</li>
  <p>{{ game.description }}</p>

  <form action="{% url 'game' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="game_id" value="{{ game.id }}">
    <button type="submit">
      <h1>See</h1>
    </button>
  </form>

  <form action="{% url 'cart' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="game_id" value="{{ game.id }}">
    <button type="submit">
      <h1>Buy</h1>
    </button>
  </form>
  {% endfor %}
</ul>

{% endblock %}