{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="home-page">
  <div class="container home-page-content" style="padding-top: 200px; padding-bottom: 200px; padding-left: 200px; padding-right: 200px ">
    <div class="row align-items-center">
      <div class="col-8 text-center">
        <h1 class="welcome-heading">Bienvenido a Campfire.</h1>
        <p class="slogan">El comienzo de tu próxima aventura. ⛺</p>
        <p class="description">
          Explora y descubre juegos excepcionales, desde clásicos hasta las
          últimas novedades. Únete a nuestra comunidad para discutir, comprar y jugar.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
