<!-- Laura Danniela Zarate Guerrero -->

{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="home-page">
  <div class="container home-page-content" style="padding-top: 200px; padding-bottom: 200px; padding-left: 400px; padding-right: 400px">
    <div class="row align-items-center">
      <div class="col-8 text-center">
        <h1 class="welcome-heading">{% trans "Bienvenido a Campfire." %}</h1>
        <p class="slogan">{% trans "El comienzo de tu próxima aventura. ⛺" %}</p>
        <p class="description">
          {% blocktrans %}
          Explora y descubre juegos excepcionales, desde clásicos hasta las
          últimas novedades. Únete a nuestra comunidad para discutir, comprar y jugar.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

